<h2>Edit Client</h2>
<?php echo $this->Form->create('Clients', array('enctype'=>'multipart/form-data'));?>
<fieldset>
<legend>Edit Item</legend>
<?php
echo $this->Form->input('name');
echo $this->Form->input('address', array('type' => 'textarea'));
echo $this->Form->input('body', array('type' => 'textarea'));
?>
</fieldset>
<?php echo $this->Form->end('Submit');?>