<h2><?php echo $client['Clients']['name']; ?></h2>
<strong>Address:</br></strong>
<?php echo nl2br($client['Clients']['address']); ?>

</br></br>
<strong>Body:</br></strong>
<?php echo nl2br($client['Clients']['body']); ?>

</br></br>
<strong>Invoices:</br></strong>
<ul>
	<?php foreach($invoices as $invoice) { ?>
    <li><a href="<?php echo Configure::read('BASE_URL'); ?>/invoice/<?php echo $invoice['Invoices']['id']; ?>">Invoice ID: <?php echo $invoice['Invoices']['id']; ?></a></li>
    <?php } ?>
</ul>