@media print {
#container {border: 0px;}
#header {display: none};
#nav {display: none;}
#nav ul {display: none;}
#section, section {clear: both; margin-top: -20px !important;}
#footer {display: none;}
.no_print {display: none;}
}