/* CSS Version 1.0 */

/* FONT IMPORT */
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

/* MAIN STYLES */
body {
	background-color: #000;
	background-repeat: no-repeat;
	background-position: right top;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

a:link, a:visited, a:active {
	color: #900;
	text-decoration: none;
}

a:hover {
	color: #CCC;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
	font-family: 'Arimo', sans-serif;
}

header, nav, section, footer {
	padding: 0px;
	margin: 0px;
}

/* FORMS */

label {
    display: block;
    margin: 0px;
	font-weight: bold;
	
}

input, textarea, select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 99%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
input[type="submit"] {
	width: 100%;	
}
textarea{
    padding: 5px 3px 3px 5px;
	min-height: 150px;
}
select {
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
    height: 35px;
    line-height: 25px;
}

/* FLASH MESSAGE */
#flashMessage {
	max-width: 35%;
	margin: 0 auto;
	border: 1px solid #FFF;
	background: #fdc800;
	border-radius: 15px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding: 10px;
	color: #000;
	font-style: italic;
	text-transform: uppercase;
}

/* CONTAINER */

#container {
	max-width: 800px;
	width: 90%;
	background-color: rgba(255,255,255, 0.6);
	border: 3px solid #000;
	border-radius: 5px;
	margin: 0 auto;
	padding: 5px;
}

/* HEADER */

#header {
}

#header h1 {
	font-size: 32px;
	font-family: 'Kaushan Script', cursive;
}

#header h2 {
	font-size: 12px;
	font-style: italic;
}

/* NAV */

#nav {
	padding: 5px 0px 5px 0px;
}

#nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#nav ul li a:link, #nav ul li a:visited, #nav ul li a:active {
	float: left;
	display: block;
	border: 1px solid #000;
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	margin: 0px 5px 0px 0px;
	background: #000;
	color: #900;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}

#nav ul li a:hover {
	background: #CCC;
	text-decoration: none;
}

/* CONTENT */

#content {
	padding: 15px 0px 0px 0px;
	clear: both;	
}

#content h2 {
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

#content a:hover {
	text-decoration: underline;
}

/* FOOTER */

#footer {	
}

#footer p {
	font-size: 10px;
	text-align: center;
}

#footer .sm_icons {
	text-align: center;
}

#footer .sm_icons img {
	width: 25px;
}