<h2>Ticket ID:<?php echo $ticket['Tickets']['id']; ?></h2>
<strong>Name:</strong>
<?php echo $ticket['Tickets']['name']; ?>
</br></br>
<strong>Email:</strong>
<?php echo $ticket['Tickets']['email']; ?>
</br></br>
<strong>Phone:</strong>
<?php echo $ticket['Tickets']['phone']; ?>
</br></br>
<strong>Type:</strong>
<?php echo $ticket['Tickets']['type']; ?>
</br></br>
<strong>Message:</strong></br>
<?php echo nl2br($ticket['Tickets']['message']); ?>